{{> header}}
  <div class="row">
    <div class="twelve columns">
      <h2>Add a package</h2>
    </div>
  </div>
  {{#if error}}
    {{> error error}}
  {{/if}}
  <div class="row">
    <div class="twelve columns">
      <form method="post">
        <div class="row">
          <div class="six columns">
            <label for="uNameInput">Receiver e-mail*</label>
            <input class="u-full-width" type="text" name="email" placeholder="user@example.com" id="uNameInput">
          </div>
        </div>
        <div class="row">
          <div class="six columns">
            <label for="pwInput">Weight*</label>
            <input class="u-full-width" type="text" name="weight" placeholder="200 (grams)" id="pwInput">
          </div>
          <div class="six columns">
            <label for="height">Height*</label>
            <input class="u-full-width" type="text" name="height" placeholder="120.4 (cm)" id="height">
          </div>
        </div>
        <div class="row">
          <div class="six columns">
            <label for="width">Width*</label>
            <input class="u-full-width" type="text" name="width" placeholder="120.4 (cm)" id="width">
          </div>
          <div class="six columns">
            <label for="depth">Depth*</label>
            <input class="u-full-width" type="text" name="depth" placeholder="120.4 (cm)" id="depth">
          </div>
        </div>
        <div class="row">
          <div class="six columns">
            <label for="datetimepicker">Reccomended pickup*</label>
            <input class="u-full-width" name="pickup" id="datetimepicker" type="text" >
          </div>
        </div>
        <div class="row">
          <div class="twelve columns">
            <input class="button-primary" type="submit" value="Register package">
          </div>
        </div>
      </form>
    </div>
  </div>
{{> footer}}