{{> header}}
  <div class="row">
    <div class="twelve columns">
      <a class="menu" href="{{baseUrl}}?action=addPackage">Add a package</a>
      <a class="menu" href="{{baseUrl}}?action=Packages">Packages</a>
      <a class="menu" href="{{baseUrl}}?action=EditAddress">Edit address</a>
    </div>
  </div>
{{> footer}}