{{> header}}
<div class="row">
  <div class="twelve columns">
    <h1>Something went wrong...</h1>
  </div>
</div>
<div class="row">
  <div class="twelve columns error">
    <p> 
      Looks like there was an error. Check the message below!
    </p>
    {{ error_message }}
  </div>
</div>
{{> footer}}